<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header *ngIf="platformService.mobile" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="gender">
    <ion-row>
      <ion-col class="female" (click)="formGenderF=!formGenderF; ChangeGender()">
        <ion-checkbox [(ngModel)]="formGenderF" disabled></ion-checkbox>
        <div>Female</div>
      </ion-col>

      <ion-col class="male" (click)="formGenderM=!formGenderM; ChangeGender()">
        <ion-checkbox [(ngModel)]="formGenderM" disabled></ion-checkbox>
        <div>Male</div>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="users.length" class="list">
    <div *ngFor="let user of users; let i = index">
      <ion-row *ngIf="user" class="user"
              [ngClass]="user.gender == 'male' ? 
                        (i != users.length -1 ? 'l-male bottom-line' : 'l-male') : 
                        (i != users.length -1 ? 'l-female bottom-line' : 'l-female')" 
              (click)="OpenUser(user)">
        <ion-col size="3" class="col-img">
          <img *ngIf="user.picture && user.picture.large" class="profile-image" [src]="user.picture.large" alt="image">
          <ion-icon *ngIf="!user.picture" class="profile-image" name="person-circle-outline"></ion-icon>
        </ion-col>

        <ion-col size="8" class="info">
          <div *ngIf="user.name" class="name">
            {{ user.name.first + ' ' + user.name.last }}
          </div>

          <div *ngIf="user.email" class="email">
            {{ user.email }}
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="load-more">
    <ion-button (click)="GetUsers(true)">
      Load more results
    </ion-button>
  </div>

  <div *ngIf="loading" class="loading">
    <div>
      <ion-label>Loading</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </div>
</ion-content>
